* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url('./images/desktop/image-hero.jpg');
    width: 100%;
    height: 40.6rem;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-top: 4rem;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    padding-left: 1rem;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

.nav-content {
    padding-left: 11rem;
    padding-top: 9rem;
    width: 50%;
}

.nav-content h1 {
    color: #FFFFFF;
    padding: 2rem;
    border: 1px solid #FFFFFF;
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 70px;
}

.section-three-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;
    padding-top: 3rem;
    flex-wrap: wrap;
}

.section-three-content h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2.8rem;
    text-transform: uppercase;
}

.section-three-content button {
    width: 9.8rem;
    height: 2.5rem;
    background-color: #FFFFFF;
    border: 0.1rem solid black;
    color: black;
    font-family: 'Alata', sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.section-three-content button:hover {
    background-color: black;
    color: #FFFFFF;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 75%;
    padding-top: 3rem;
    gap: 1.5%;
}

.photos p {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 23.5rem 5rem 1rem 2.5rem;
    text-transform: uppercase;
}

.equal {
    height: 28rem;
    margin-bottom: 1rem;
    flex-basis: 23.875%;
}

.first-photo {
    background-image: url('./images/desktop/image-deep-earth.jpg');
}

.second-photo {
    background-image: url('./images/desktop/image-night-arcade.jpg');
}

.third-photo {
    background-image: url('./images/desktop/image-soccer-team.jpg');
}

.fourth-photo {
    background-image: url('./images/desktop/image-grid.jpg');
}

.fith-photo {
    background-image: url('./images/desktop/image-from-above.jpg');
}

.sixth-photo {
    background-image: url('./images/desktop/image-pocket-borealis.jpg');
}

.seventh-photo {
    background-image: url('./images/desktop/image-curiosity.jpg');
}

.eight-photo {
    background-image: url('./images/desktop/image-fisheye.jpg');
}

footer {
    background-color: black;
    height: 12rem;
    margin-top: 4rem;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    padding-top: 2.5rem;
}

.footer-content img {
    margin-bottom: 2.5rem;
    width: 9rem;
    height: 1.5rem;
}

.footer-content a {
    padding-left: 0;
    padding-right: 0.5rem;
}

.footer-content p {
    color: white;
    font-size: 0.7rem;
}

.social-logos img {
    width: 2rem;
    height: 1.5rem;
    padding-right: 0.5rem;
    margin-bottom: 2.5rem;
}

.footer-links a {
    font-size: 0.8rem;
}
